.App {
  width: 80%;
  overflow: hidden;
  margin: auto;
  margin-top: 100px;
}

.App-foto {
  float: left;
  width: 50%;
  height: 700px;
  background: #e3e9ee;
}

.App-foto img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.App-deskripsi {
  width: 40%;
  overflow: hidden;
  float: left;
  margin-left: 30px;
}

.App-deskripsi .info {
  line-height: 1.8;
  color: rgb(18, 11, 49);
}

.App-deskripsi .price {
  font-size: 20px;
  font-weight: 500;
}

.App-deskripsi .title {
  margin: 0;
}

.App-deskripsi .category {
  color: #acaeb2;
}

.App-deskripsi a {
  margin-top: 20px;
  color: #fff;
  font-weight: 500;
  background: rgb(255, 159, 159);
  text-decoration: none;
  display: inline-block;
  padding: 10px 20px 10px 20px;
  font-size: 20px;
  border-radius: 4px;
  transition: all 0.8s;
}

.App-deskripsi a:hover {
  color: #fff;
  background: rgb(221, 135, 135);
  transition: all 0.8s;
}

.App-review-box {
  clear: both;
  width: 100%;
  overflow: hidden;
  padding-bottom: 100px;
}

.App-review-box h2 {
  margin-top: 50px;
}

.App-review-box img {
  width: 80px;
  height: 80px;
  background: #b1b1b1;
  border-radius: 11px;
  float: left;
  margin-right: 16px;
}

.App-review-box .review p,
h3 {
  margin: 0;
}

.App-review-box .review h3 {
  padding-top: 10px;
  margin-bottom: 8px;
}

.App-review-box .item {
  width: 80%;
  overflow: hidden;
  margin-bottom: 24px;
}